[2021-04-13 13:34] Correct-Syntax opened #1 "Pre-built Python wheels for OpenImageIO"
Create pre-built Python wheels for the OpenImageIO package so that users and contributors don't need to build it from source themselves.

- [ ] **Windows** (can use https://www.lfd.uci.edu/~gohlke/pythonlibs/#openimageio but we need an updated version built with RAW and OpenColorIO extenstions)
- [x] **Linux**
- [x] **MacOs**

[2021-04-15 14:01] Correct-Syntax opened #2 "Preferences/Configuration Dialog"
Settings/tabs I am thinking we are going to include in the dialog, so far:

- [ ] Node wire curvature (e.g: 0 is straight, 8 is curved, etc)
- [ ] Maybe some settings for enabling/disabling node cache as it may not always be needed/wanted
- [ ] Node Manager (add/remove enable/disable available nodes)
- [ ] Enable/disable "experimental" features
- [ ] Toggle showing image thumbnails on nodes by def

[2021-04-21 02:32] iwoithe commented on #2
## Categories in the preferences

***Note:** Nothing that I say in this issue is final*

General
Interface

Addons
Nodes

System
File Paths

[2021-04-21 13:16] Correct-Syntax commented on #2
This seems pretty good, but I might remove the "Addons" category and add a "Templates" category .

Technically, the nodes *are* like addons in Gimel Studio so I don't think we need a separate category for addons. @iwoithe, what did you have in mind for the "Addons" category? :)

The templates category would be for managing nodegraph templates. This is also where users can add there own/install sha

[2021-04-21 22:39] Correct-Syntax opened #3 "Built-in, Simple code editor (for scripting custom nodes)"
One of the core features of Gimel Studio is the ability to script custom nodes in Python (+ GLSL), so I think a simple, built-in code editor is a good thing to have. With hot-reload of scripts, editing the code within Gimel Studio makes sense.

Code editor with minimap for wxpython, etc is at https://github.com/TSN-ADMIN/wxPySTC_DocMap. Could use it after some fixing. 😄

This is a good issue for s

[2021-04-21 23:01] iwoithe commented on #2
The idea behind addons is in case someone wants to add something that isn't built in to Gimel Studio (e.g. a pixel editor) that will extend the functionallity of Gimel Studio further (note: the pixel editor was an example, and is not an actual suggestion).

[2021-04-22 03:07] Correct-Syntax commented on #2
@iwoithe ah, I see. Good idea. Not sure implementation-wise how it would be done. Mainly, I am not sure what would define the end of the node api and the start of the addons api. Technically, the node api will have access to the viewport so a pixel editor could probably be implemented with it (though it would be contained in a specific node, obviously). Maybe clarify a bit further?

[2021-04-22 14:57] Correct-Syntax opened #4 "Wheel / Pie Menu for adding nodes"
WIP idea for an intuitive menu to add nodes.

**Reference (taken from the Gimel Studio Discord):**

![Screenshot_2021-04-22_07 12 40](https://user-images.githubusercontent.com/60711001/115736663-0ff00a00-a351-11eb-8aa6-1d76c135cd71.png)
![Screenshot_2021-04-22_084348](https://user-images.githubusercontent.com/60711001/115737107-7543fb00-a351-11eb-9075-abffa29133c1.png)
![GS_-_UI_Idea_04](https://u

[2021-04-22 15:56] Correct-Syntax opened #5 "Implement OpenImageIO IO into core"
This partially depends on #1

[2021-04-22 15:58] Correct-Syntax opened #6 "Implement UI translations support"
See https://wxpython.org/Phoenix/docs/html/internationalization.html and https://wiki.wxpython.org/Internationalization

[2021-04-22 16:01] Correct-Syntax opened #7 "Initial UI translations"
UI translations we can support initially:

- [x] English (default)
- [x] French (@jumaxotl)
- [x] German (@JohJakob)

Depends on implementing #6

[2021-04-22 16:06] Correct-Syntax opened #8 "Node setup Templates"
Pre-defined node setups which can be loaded, created and shared with others.

Preset node graph templates can be created, used and shared with others to save time setting up common node-setups for various editing tasks. These would be select-able on program launch and when creating a new project. These are different than the normal Gimel Studio Project file in that they only include the nodes pre-

[2021-04-22 16:09] Correct-Syntax opened #9 "Startup splashscreen"
On startup a window that pops up and shows:

- Option for opening a recent project
- Option for creating a new blank project
- Option for creating a new project from a template

This also be shown for when "New project" in the menu is selected.

[2021-04-22 16:26] Correct-Syntax opened #10 "App configuration backend"
Implementing the backend for #2. Mainly just reading/saving a .config file in the users home directory with the configuration settings stored in JSON. Also, creating an interface for the Preference dialog to edit the values on-the-fly.

[2021-04-22 19:06] Correct-Syntax opened #11 "Updated UI Mockup"
We need an updated UI mockup as the one on the README is severely outdated now.

[2021-04-25 17:09] Correct-Syntax opened #12 "Implement main window & panels"
Follow the mockup and create the scaffolding of the UI with wxpython, gsnodegraph and gswidgetkit.

[2021-04-25 17:30] #11 closed

[2021-04-27 18:52] Correct-Syntax commented on #12
![Updated-UI-Mockup](https://user-images.githubusercontent.com/60711001/116296349-bf691a00-a75f-11eb-89d2-fb21b048566e.png)

[2021-04-27 18:53] Correct-Syntax opened #13 "Implement minimal amount of widgets for Application"
The widgets are to be implemented in the gswidgetkit package at https://github.com/GimelStudio/gswidgetkit.

- [x] Buttons (With text + icon or just icon)
- [x] Number Field (similar to Blender's Number Field control)
- [x] Color Picker
- [x] Textctrl
- [x] <s>Image Picker</s> (we can use a textctrl and button for now)
- [x] Checkbox
- [x] Dropdown
- [x] Tooltips

UI Design Style Guide:

![Control

[2021-05-02 01:29] Correct-Syntax commented on #2
For Node categories, for now we'll have: **Input, Output, Blend, Color, Convert, Adjust, Filter, Transform** and maybe eventually a special G'MIC or Effects category for the G'MIC fancy filters and stuff.

[2021-05-02 01:56] Correct-Syntax commented on #2
Also, add a setting for UI Translations #7

[2021-05-02 02:26] Correct-Syntax opened #14 "Support Image Sequences / Batch rendering"
Even a simple implementation of rendering batch images and/or image sequences would be very nice.

Something to look into.

[2021-05-04 06:42] iwoithe commented on #2
I will put this under the "Interface" settings.

[2021-05-06 13:05] Correct-Syntax commented on #2
I think we should also "reserve" some space to allow for a label (note) that says something like: "_* Requires program restart"._ Some of the settings can be adjusted on-the-fly, but others will need a program restart in order to take effect.

[2021-05-12 21:52] Correct-Syntax opened #16 "Add dropdown menu for panel (area) settings"
Panel topbar menu (three dots icon button) at far right shows:

- Undock panel (float the panel so it can be re-arranged)
- Hide panel (hide the panel, can be re-shown using the View > Toggle the_panel menu or a shortcut)
- Open panel as new window (opens the panel as a new window, useful for multi-monitor setups)

[2021-05-17 16:40] Correct-Syntax commented on #2
Just to note, this issue handles the UI side, while #10 handles the backend.

[2021-06-02 20:47] Correct-Syntax opened #17 "Panel Zoom Fields miscalculate zoom"
The node graph zoom field should adjust the zoom in the same way as the mouse wheel. Currently, there is a workaround implemented but it miscalculates the zoom when translating from the field value to the value the panel accepts to set the zoom.

[2021-06-07 21:29] Correct-Syntax commented on #12
Scaffolding is pretty-much complete now.

[2021-06-07 21:29] #12 closed

[2021-06-07 21:30] #16 closed

[2021-06-07 21:41] Correct-Syntax opened #18 "Project File Open/Save for nodegraph"
Implement project file open/save.

**Spec:**
- JSON based format -possibly use the ``pickle`` module for non-human readable (packed) files.
- Normal files will have the ``.gimel`` extension
- Project files with "packed" image data will have the ``.packed.gimel`` extension. This is to differentiate between packed and normal files.

**Requirements:**
- Implement interfaces to nodegraph, etc to save/

[2021-06-07 21:54] Correct-Syntax opened #19 "Dragging panels causes crash (Python 3.9 only)"
This could be an upstream issue with wxpython.

[2021-06-07 21:57] Correct-Syntax commented on #19
Ref: https://github.com/wxWidgets/Phoenix/issues/1881

[2021-06-07 22:00] Correct-Syntax opened #20 "About Dialog"
Implement the About Dialog and add it to the menu.

- [x] Mockup
- [x] Implementation

# WIP mockup
![About Dialog](https://user-images.githubusercontent.com/60711001/131390329-b29342d5-6347-4431-94fc-c1b87fb9d11f.png)

[2021-06-10 13:44] Correct-Syntax opened #22 "Implement statusbar"
Statusbar should have contextual mouse and keyboard shortcuts displayed and well as info messages.

[2021-06-11 03:59] #22 closed

[2021-06-13 05:35] Correct-Syntax commented on #2
@iwoithe I think we're pretty-much ready to start implementing this now. 😀

[2021-06-13 05:46] Correct-Syntax opened #23 "Add initial Menu items"
- File
  - New Project
    - Blank (Default)
    - From Template
  - Open Project
  - Open Recent Project
  - Save Project
  - Save Project As
  - Save As Template
  - Quit

- Edit
  - Copy Image to Clipboard
  - Preferences

- Render
  - Render Image
  - Auto Render Image

- View
  - Toggle Window Fullscreen
  - Maximize Window
  - Show Statusbar

- Help
  - Online Manual
  - Visit Website
  - Re

[2021-06-13 05:49] Correct-Syntax commented on #5
This is mostly done, but still needs work.

[2021-06-13 16:34] #23 closed

[2021-06-13 18:56] Correct-Syntax opened #24 "Image thumbnails on nodes"
This is upstream via gsnodegraph.

[2021-06-13 18:59] Correct-Syntax opened #25 "Nodegraph Nodes context menu"
Context menu for the nodegraph right-click menu.

- Duplicate
- Delete
- Select All
- Deselect All

Relies on implementing these functions in the gsnodegraph library upstream.

[2021-06-13 19:01] Correct-Syntax opened #26 "Add Export image functionality to core and UI"
Re-implement the export image functionality and hook it to the already existing menu item.

[2021-06-13 19:06] Correct-Syntax opened #27 "Implement GLSL shader support for image manipulation - node api"
Re-implement/implement in a better way support for image manipulation via GLSL shaders from https://github.com/GimelStudio/Gimel-Studio/tree/gpu-engine-oiio

[2021-06-13 19:08] Correct-Syntax opened #28 "Developer log"
Implement a developer log/console area, similar to the one in v0.5.3 beta.

This is helpful for debugging node scripts and goes hand-in-hand with #3 to provide a built in, simple IDE for developing custom nodes with the API. This would also aid in creating core nodes.

[2021-06-13 19:16] Correct-Syntax opened #29 "Edit app startup to avoid locale wxAssertionError for OS locales"
Application sometimes won't startup due to a conflict between wxpython and OS locale settings. This needs to be fixed.

Ref:
https://discuss.wxpython.org/t/wxpython4-1-1-python3-8-locale-wxassertionerror/35168

[2021-06-13 19:21] Correct-Syntax opened #30 "Color management via OpenColorIO"
Requires:
- Looking into how exactly this is done....
- Building OpenImageIO (see #1) with OpenColorIO support

[2021-06-13 19:23] Correct-Syntax opened #31 "Viewport Gizmos"
This is the "master" issue for figuring out the Viewport Gizmos.

e.g: when cropping, the gizmo would be an "overlay" and adjustable rectangle to show where the image is to be cropped.

Gizmos need to be accessible (create-able) via the nodes api so it must not be too integrated into the core.

[2021-06-13 19:28] Correct-Syntax opened #32 "Fix statusbar layout clipping"
Sometimes the statusbar is clipped at the bottom.

[2021-06-13 19:30] Correct-Syntax opened #33 "Test and make fixes for MacOs"
Just as simple as that: just build and test on a MacOs system to see what needs to be fixed, etc. The current developers do not have access to a Mac so we need someone else to do this.

[2021-06-13 19:35] Correct-Syntax opened #34 "Create Github Actions script to build executables"
- [ ] Windows
- [ ] Linux
- [ ] MacOs

Adapt from: https://github.com/GimelStudio/Gimel-Studio/blob/master/.github/workflows/build.yml

[2021-06-14 07:36] iwoithe commented on #2
The current progress. Still a lot to do, but I've now got the basic "stacked layout" working. :slightly_smiling_face:

https://user-images.githubusercontent.com/73422868/121855592-af6ac100-cd32-11eb-9beb-752afaab7505.mp4

[2021-06-15 17:01] yasuomaidana commented on #33
I could do it.

[2021-06-15 17:04] Correct-Syntax commented on #33
Thank you for helping us out with this. Yes, these errors are helpful. Does the window come up okay?

[2021-06-15 17:06] yasuomaidana commented on #33
Yes the windows opens
![image](https://user-images.githubusercontent.com/32581141/122094728-168b8280-cdd2-11eb-87b2-dc4d0557b9d7.png)

[2021-06-15 17:06] Correct-Syntax commented on #33
Thank you.

The errors point to something wrong with https://github.com/GimelStudio/gswidgetkit. Could you run the demo in that repo to see what kind of errors we get?

[2021-06-15 17:07] Correct-Syntax commented on #33
The error about OpenImageIO is normal. It is the other errors I am trying to figure out.

[2021-06-15 17:21] yasuomaidana commented on #33
Look I just run gswidgetkit and I got this errors
![image](https://user-images.githubusercontent.com/32581141/122096237-f492ff80-cdd3-11eb-99cd-3b3259dd89f8.png)
However the window opens, the thing is some elements fails, for example the opacity bar.
However the buttons seems to be okay
![image](https://user-images.githubusercontent.com/32581141/122096461-3754d780-cdd4-11eb-8823-9f5c0d8564a2.png)

[2021-06-15 17:34] Correct-Syntax commented on #33
Could you try commenting out line 166 through 169 and re-running the program (at https://github.com/GimelStudio/gswidgetkit/blob/031ca6850c219060629793ad535110380f683d5c/gswidgetkit/number_field.py#L166)

[2021-06-15 18:46] Correct-Syntax commented on #3
![Screenshot 2021-06-14 234302](https://user-images.githubusercontent.com/60711001/122106814-febafb00-cddf-11eb-8da8-b183c5331637.png)
*WIP implementation*

[2021-06-15 19:16] yasuomaidana commented on #33
I identified that this issue happens when you try to drag the bars

[2021-06-15 19:24] Correct-Syntax commented on #33
@yasuomaidana does the issue still happen if you comment out line 166 through 169 in ```number_field.py```?

[2021-06-15 19:43] yasuomaidana commented on #33
Yes, it seems that is an issue related to recursion depth
![image](https://user-images.githubusercontent.com/32581141/122113616-f4046400-cde7-11eb-84ed-f4892add3914.png)

[2021-06-15 19:45] Correct-Syntax commented on #33
Indeed.

Try commenting out line 82 https://github.com/GimelStudio/gswidgetkit/blob/031ca6850c219060629793ad535110380f683d5c/gswidgetkit/number_field.py#L82

That way we can narrow the issue down to a problem with that method.

[2021-06-15 19:48] Correct-Syntax commented on #33
What's strange is that this is not an issue on Windows or Linux that I know of, so it is specific to MacOs...

The recursion error means something is getting called over and over and stuck in a loop.

[2021-06-15 20:22] Correct-Syntax commented on #33
@yasuomaidana I made some changes. See if changing  the ```OnLeftDown``` method to:

[code]

works better.

It seems to work better than before, testing on Windows.

[2021-06-15 20:38] yasuomaidana commented on #33
Yes it improved a lot the bar update. However the issue with recursion is still there

[2021-06-15 21:20] Correct-Syntax commented on #33
I will have to take a deeper look into this and get back to you.

Thanks for your help so far @yasuomaidana. 😄

[2021-06-15 21:32] Correct-Syntax commented on #33
The only problem is that since no errors show up it's difficult for me to debug and tell whether it's working.

[code]

Maybe try the above code to see if that works?

[2021-06-15 22:15] yasuomaidana commented on #33
It seems to be something related with the time that it takes to finish some functions. I insert some print functions and the delays that they inserts were enough to solve the issue. I'm looking the way to make that some parts of the code waits until resolve before to continue. However, I don't know if it could create new problems, so I'll check it before.

[2021-06-15 22:16] yasuomaidana commented on #33
It didn't work. 😞

[2021-06-15 22:18] Correct-Syntax commented on #33
Where did you insert the print statements? That might give a hint as to what the problem is.

[2021-06-15 22:23] yasuomaidana commented on #33
I inserted them here
[code]

[2021-06-15 22:46] Correct-Syntax commented on #33
That is very weird. On Windows it causes the cursor to flicker (so it's worse than before) so I wonder why adding print statements has something to do with it on MacOs.

From my research, a you mentioned it seems to have to do with paints to the window being called before the last one finishes.

In plain language I think that means you may want to try moving the ```self.UpdateDrawing()``` call aro

[2021-06-18 16:14] yasuomaidana commented on #33
I used multithreading to solve this issue.

[2021-06-21 17:46] yasuomaidana commented on #34
I'm working on creating Mac executables. I already have a good progress

[2021-06-22 02:32] Correct-Syntax commented on #33
@yasuomaidana, first thanks again for helping out. Sorry for the late reply as I have been offline this week. I am glad to see that you're making progress on this and excited for the MacOs version. 👍

Is it possible for you to join either the Gimel Studio [Discord server](https://discord.gg/RqwbDrVDpK) or the [Gitter community](https://gitter.im/Gimel-Studio/community)? This way we can chat a bit

[2021-06-22 07:18] iwoithe commented on #2
I didn't have the time to post the second screenshot (done a couple hours after the video).

![preferences](https://user-images.githubusercontent.com/73422868/122880574-4bbb4600-d379-11eb-93aa-c67bdfc68532.png)

@Correct-Syntax I need to know if the size of the buttons and spacing is/looks correct. I also need to double check the colors.

[2021-06-22 12:50] Correct-Syntax commented on #2
@iwoithe this is looking quite good. The button sizing might be slightly tall depending on the look we're going for here, but otherwise I like it. 😀 Yes, make sure to double-check the colors also.

If you would like, you could open your current progress as a PR as mark it as a draft.

Since the dialog is something that we will add to I don't mind multiple PRs for getting it complete (e.g: one for

[2021-06-22 17:00] Correct-Syntax commented on #33
I have asked a question about the widget issue on the offical wxpython forum: https://discuss.wxpython.org/t/recursion-error-on-macos-with-custom-widget/35424

[2021-06-22 22:49] Correct-Syntax commented on #33
Maybe try the following as suggested in the forum answer:

[code]

I hope it works! 😄

[2021-06-23 08:41] iwoithe commented on #2
I must admit I kind of forgot about that. :confused:

I will do that when I get the time. :slightly_smiling_face:

[2021-06-24 03:14] yasuomaidana commented on #34
What do you think about this?

[code]

[2021-06-24 16:00] yasuomaidana commented on #33
Yes it worked, I implemented this function with my solution and seemed well

[2021-06-24 16:37] Correct-Syntax commented on #33
Great! 😄 I will take a look a bit later.

Anything else as far as issues on MacOs?

[2021-06-24 18:10] Correct-Syntax commented on #33
@yasuomaidana could you try the below code. I made some adjustments but left some stuff commented out so that you could re-introduce them if needed.

I am hoping to not have to rely on threading in order to solve this issue. Hopefully it will work now.

Also, thanks for your perseverance through this issue. 👍

[code]

[2021-06-24 22:05] yasuomaidana commented on #33
It worked fine.

It worked fine

[2021-06-25 00:16] Correct-Syntax commented on #33
I've merged the changes. Great job! 🚀

[2021-06-25 00:38] Correct-Syntax commented on #34
So, a few questions:

- Does this end up with a .app or an installer?
- Does the OpenImageIO actually work doing it this way? Usually you would need to build it with the Python bindings, etc in order for it to work.

Also, you will need to fill in these lines of code:
[code]

With code that copies the ``nodescripts`` folder from src/nodescripts and places it into the same folder as the built execu

[2021-06-25 02:03] Correct-Syntax opened #37 "Persist FoldPanelBar toggled state"
When a node is selected and the properties show up, there are toggle-able FoldPanelBars which can be opened and closed to hide the widgets inside:

![Screenshot 2021-06-24 210053](https://user-images.githubusercontent.com/60711001/123357534-499ae800-d52f-11eb-99cd-267b44124dc1.png)

The issue is that the toggle state (opened or closed) does not persist, but always resets to all of them being open.

[2021-06-25 02:18] yasuomaidana commented on #34
This program ends up with an app located at dist folder. Now, the second question, it is suppose to work. Well at least using brew, that's the way I found to install it.

Now for this part since I didn't use any nodescripts I forgot to add it, don't worry I'll fix it quickly

[2021-06-25 04:34] yasuomaidana commented on #34
![show](https://user-images.githubusercontent.com/32581141/123369971-62fa5f00-d544-11eb-868c-8e77ea0bc953.gif)

[2021-06-25 17:38] Correct-Syntax commented on #34
@yasuomaidana  Okay, looking good. 😄

See my Discord messages for further comments.

[2021-06-25 17:42] Correct-Syntax commented on #2
Something, I was thinking is: Should we separate out the Node Manager into a separate dialog? The advantage would be that it would be less clutter for the dialog with more focus on just the nodes. Just an idea 😀

[2021-06-25 23:06] iwoithe commented on #2
I have a question about the title of the preferences dialog: should we rename it from ``User Preferences & Settings`` to ``Preferences``?

[2021-06-27 02:39] Correct-Syntax commented on #2
I am not sure since I don't have full clarity on what the dialog will actually include right now (e.g: it seems that technically it is both settings and preferences, so I guess it would be up to us to decide what term we want to use. I was sorta covering both by having the title that way!). You could change it if you'd like. :)

[2021-06-27 02:49] Correct-Syntax commented on #2
I also wanted to mention, in case you didn't see yet, that the dropdown widget, checkbox widget etc are now pretty much complete in gswidgetkit so you can start using them. Just make sure to use the latest version. 🚀

[2021-06-27 04:46] iwoithe commented on #2
What is the difference in the definition of ``Preferences`` and ``Settings``?

[2021-06-27 14:03] Correct-Syntax commented on #2
Preferences has more to do with making it to be as the user prefers, while settings is generally just something that has a default and can be changed (but isn't often changed) regarding the system or how the application works. It would be like Node wire curvature vs. Fonts path. Although, I don't think it matters that much as it's kinda left to preference (no pun intended) which one to use since t

[2021-06-29 22:28] Correct-Syntax opened #39 "Implement Node Registry"
The Node Registry handles everything with keeping track of what nodes are currently installed, etc and is responsible for talking between parts of the api and the core for initialization of a new node.

Currently, only pieces of this are implemented.

This is a blocker to truly implementing the Add Node Menu #25 and Node Manager #2. (This would be the backend of the Node Manager)

Term definitions

[2021-06-30 23:51] Correct-Syntax commented on #30
Ref: https://openimageio.readthedocs.io/en/v2.2.15.1/pythonbindings.html?highlight=opencolorio#color-manipulation

[2021-07-01 00:25] Correct-Syntax opened #40 "Node Caching"
Basic node caching needs to be implemented.

[2021-07-01 14:38] #40 closed

[2021-07-05 19:07] #10 closed

[2021-07-05 19:16] Correct-Syntax commented on #2
Okay, the app config backend should be implemented enough to where it can be attached to the dialog, etc.

[2021-07-06 00:54] Correct-Syntax opened #42 "Bind tooltips to node help buttons, etc"

[2021-07-08 03:37] #26 closed

[2021-07-08 03:56] Correct-Syntax opened #43 "DND from file browser to Nodegraph to add Image node"
Re-implement functionality: dnd from os filebrowser into nodegraph to automatically add a new Image node with the image loaded. One of my personal favorite features to have in any node graph. ;)

[2021-07-08 03:58] Correct-Syntax opened #44 "Fix menu separators not showing"
The styling needs to be adjusted so that the separators in the menus show up with the dark bg. Just ping me for details. ;)

[2021-07-11 15:24] Correct-Syntax opened #45 "Support panel and area "Instances""
Currently, there can only be 1 instance of each panel or area. It would be nice to be able to have as many instances of the panel or area as the user wants.

This mainly involves keeping the instances in a python dictionary and keeping track of what events happen in each instance and funnel it back to the main app.

[2021-07-11 15:37] Correct-Syntax opened #46 "Progressbar for Image Export dialog"
Implement a Progressbar for the Image Export dialog to show that the image is exporting. Use the ``threading`` module to keep the GUI from freezing.

[2021-07-11 15:40] Correct-Syntax opened #47 "Image Viewport/Nodegraph view modes"
Output Mode / Selected Mode / Viewer mode??

**Output Mode** - Show the result of the Output node
**Selected Mode** - Show result of selected node

For Viewer mode we could have a dropdown listing all the viewer nodes in the node editor

[2021-07-11 15:44] Correct-Syntax opened #48 "Implement Add Text node"
Implement an Add Text node. This would give us something useful to test the Image viewport with, etc. Probably, implement with vector rather than raster for portability, etc.

[2021-07-11 15:47] #5 closed

[2021-07-11 18:02] #4 closed

[2021-07-16 21:37] Correct-Syntax opened #51 "Add Nodes Menu"
Re-implement the menu to add nodes to the node graph. Ideally, this would be searchable, like the last one.

Ideas: have it sort-able based on category

[2021-07-18 19:51] #43 closed

[2021-07-30 03:28] Correct-Syntax opened #53 "Improve nodegraph UI performance"
Selecting a node in the nodegraph with more than 5 nodes is noticeably slow, among other things. Though, this is to be expected since the nodegraph is not yet ready for production and has not been optimized yet.

[2021-08-05 03:23] #25 closed

[2021-08-18 13:14] Correct-Syntax commented on #53
Likely had to do with the DC not being referenced correctly, previously. This may be fixed now.

[2021-08-27 12:39] JohJakob opened #55 "Test on macOs - Test Retina displays on macOS"
Gimel Studio’s interface is displayed at low resolution on a Mac with a Retina display. Only the menu bar is rendered at the native resolution.

[2021-08-28 07:17] JohJakob commented on #55
@Correct-Syntax Yes, I can give it a try!

[2021-08-29 09:42] JohJakob opened #56 "Proposal: Rename “User Preferences” to “Preferences…”"
There is no real difference between user preferences and settings in Gimel Studio. It would make sense to simplify the term “User Preferences” and just call it “Preferences”. This would also shorten the term in German from “Benutzereinstellungen” to “Einstellungen” which is more desirable.

I would also append an ellipsis (`…`) to the menu item to let the user know that the action requires more ac

[2021-08-29 13:32] Correct-Syntax commented on #56
@JohJakob thanks for the suggestion. @iwoithe and I had already discussed this and had settled on "Preferences", so I agree with you. This should be fixed in the Preferences dialog PR or can be fixed after it's merged. 😄

Proposal accepted! ✅

[2021-08-29 14:54] JohJakob commented on #56
I will change all occurrences in the translation files after finishing the German translation.

[2021-08-29 15:10] JohJakob commented on #55
It looks like the solution is not that easy unfortunately. Confusingly, not everything is drawn at low resolution, but both the menu bar as well as the status bar are displayed correctly (except the status bar icons, but this should be fixable with @2x assets). This makes me think that the frame is actually rendered at the correct resolution.

I found this wxWidgets issue that may be relevant: [So

[2021-08-29 16:34] Correct-Syntax commented on #55
I was hoping it was, but I guess we will have to look more into it. 😏

@JohJakob could you post a screenshot here so those of us without Macs can get an idea of how it looks?

Yes, that is true. Could you open a separate issue for that so we remember to do that?

Probably so. The solution @iwoithe mentioned might have to be applied to *each* window in the application. (In wxpython, each widget is

[2021-08-29 16:44] JohJakob commented on #55
Oh yes, of course!

<img width="1792" alt="Gimel Studio Window on macOS" src="https://user-images.githubusercontent.com/9888537/131258221-5c69ebf1-0096-4a4a-882c-0baaaff12bec.png">
<img width="250" alt="Gimel Studio File Menu on macOS" src="https://user-images.githubusercontent.com/9888537/131258225-b92b72ea-99c9-42ed-891a-1720dc18187a.png">

If you look closely, you can see that the text in the m

[2021-08-29 16:49] JohJakob opened #58 "Mac: Provide @2x assets"
Macs with a Retina Display require image assets in 2x resolution. They should be provided with an `@2x` suffix next to the 1x assets.

[2021-08-29 16:50] JohJakob commented on #55
See [Mac: Provide @2x assets](https://github.com/GimelStudio/GimelStudio/issues/58)

[2021-08-30 09:05] iwoithe commented on #56
I will update the PR in the next few days. :slightly_smiling_face:

[2021-08-30 09:29] JohJakob opened #59 "Proposal: Use user-friendly labels for toggles"
Toggles like “Toggle Status Bar” should have a different label based on their state to better indicate what they will do when clicked. For the status bar, this could be “Show Status Bar” and “Hide Status Bar” or it could be replaced with a checkbox toggle like “Auto Render”.

This would also make translations in certain languages (like German) easier because they do not have a convenient term like

[2021-08-30 11:20] Correct-Syntax commented on #59
I agree. I think it would be good to review all of the text for the menu items and status bar help text for consistency and ease of translation. @iwoithe what is your suggestion for this particular case? I think I like the idea of having a checkbox like Auto Render.

[2021-08-30 13:18] JohJakob commented on #55
I suppose this would have to be done in [GS WidgetKit](https://github.com/GimelStudio/gswidgetkit) and [GS Node Graph](https://github.com/GimelStudio/gsnodegraph) then. Is that correct?

[2021-08-30 13:46] Correct-Syntax commented on #55
@JohJakob yes, those are the upstream packages that Gimel Studio uses. 😄

[2021-08-30 17:12] #53 closed

[2021-08-30 17:13] #33 closed

[2021-08-30 19:29] Correct-Syntax commented on #29
@BlenderBoi if you remember, you had an issue launching the application in the v0.5.x series because your Windows locale was set to Malaysia. Could you please confirm this issue is resolved with this version when you get the chance? 😄

[2021-08-31 07:02] iwoithe commented on #59
Agreed.

I personally prefer the checkbox, however, I get that some people may prefer (updating) text. My opinion is to use a check box by default, but also add a preference like ``Interface > Menu Bar >  Use checkboxes`` (when set to ``False`` use switching text).

[2021-08-31 13:51] Correct-Syntax opened #60 "Test on Linux"
The new version of Gimel Studio has not yet been properly tested on Linux systems.

There is likely some tweaks and fixes to be made specifically for Linux and that is what this issue will resolve.

Initially, the focus will be on supporting Ubunutu/Debian and the derivatives since that is what we will likely provide an installer/executable for.

[2021-08-31 13:55] Correct-Syntax commented on #58
Notes:
- We currently use https://remixicon.com/ icons so it should be mainly a matter of creating a x2 size for each icon.
- We should also look into using SVG rather than PNG as they will scale better.

[2021-08-31 18:24] JohJakob commented on #58
@Correct-Syntax The mouse icons are not from Remix Icon, are they?

[2021-08-31 18:25] Correct-Syntax commented on #58
Oh, thanks for reminding me. Those are icons I made. 😉

[2021-08-31 18:36] JohJakob commented on #58
Could you please provide them as SVGs somewhere? :)

[2021-09-01 18:17] JohJakob commented on #59
I would go with checkboxes for the MVP. State-dependent labels can be added later, but do not have the highest priority right now in my opinion.

[2021-09-01 18:40] Correct-Syntax commented on #56
This was closed with #61

[2021-09-01 18:40] #56 closed

[2021-09-01 19:32] Correct-Syntax opened #62 "Confirm how Contributors want to be credited"
Confirm with all the current (and past) contributors how they want to credited in the About dialog, possibly on the site, etc

Here's what I have so far:

@BlenderBoi * (Ideas/planning, UI/UX design, Testing)
@iwoithe Iwoithe (Code contributor, Ideas/planning, UI/UX design)
@JohJakob Johannes Jakob (Code contributor, Docs contributor, Translations contributor, Ideas/planning, UI/UX design)
@jumaxo

[2021-09-01 19:36] Correct-Syntax opened #63 "Fix alpha backdrop showing a few pixels larger than the image"
In the Image Viewport, the alpha backdrop extends out a few pixels wider and taller than the image.

![Screenshot 2021-09-01 143453](https://user-images.githubusercontent.com/60711001/131733099-6b1d82fa-355d-460d-89dc-140308b6ebf0.png)

[2021-09-06 10:50] JohJakob commented on #58
@Correct-Syntax Some icons are currently hard-coded as `PyEmbeddedImage` in `src/gimelstudio/datafiles/icons.py`. We should replace them with file-based assets. Which approach do you prefer to accomplish this?

[2021-09-06 14:41] Correct-Syntax commented on #58
@JohJakob yes, that is a good question.

I would prefer to keep the icons as a ``PyEmbeddedImage`` since then we don't need to deal with file paths. However, I am not sure how that would work, exactly.

Currently, the ``encode_bitmaps.py`` file [here](https://github.com/GimelStudio/GimelStudio/blob/master/assets/encode_bitmaps.py) simply takes the file-based assets and compiles them to the ``PyEmb

[2021-09-06 20:24] JohJakob commented on #58
@Correct-Syntax OK, would it be possible to generate `PyEmbeddedImage`s from the corresponding assets at run time and store them in a list/dictionary/whatever instead of a hard-coded file to ensure type safety?

The easier method would be to run the `encode_bitmaps` script when `main` is executed.

This would be fairly easy to do with `GetContentScaleFactor()`. I think the best solution would be s

[2021-09-06 20:47] Correct-Syntax commented on #58
@JohJakob Hmmm....Could you clarify what you mean by "type safety"? With Python being dynamic I don't see types as a problem. I think we are only dealing with one type here: ``PyEmbeddedImage``, right?

It could be possible to run the ``encode_bitmaps`` script on runtime, but I am not sure if we will have issues once we package the app as an executable. *It may add heavily to the startup time, als

[2021-09-06 21:01] Correct-Syntax commented on #58
Just to clarify, the file-based assets are at: https://github.com/GimelStudio/GimelStudio/tree/master/assets/icons_source
The ``encode_bitmaps`` script compiles them into one ``icons.py`` file as ``PyEmbeddedImage``. That would be the file at: https://github.com/GimelStudio/GimelStudio/tree/master/src/gimelstudio/datafiles. Each icon is assigned a variable and accessed using that variable. That is

[2021-09-07 02:41] Correct-Syntax opened #65 "Node API: Load custom nodes from nodescripts directory"
This is really simple in theory, but requires thought as to implementation details.

We load custom nodes from the ``nodescripts`` directory. This will be done via importing node files in the ``node_importer``  similar to how core nodes are loaded.

Things to figure out:
-
- [ ] Should each custom node be required to be in it's own folder? This is especially important when the node has a .glsl fil

[2021-09-07 07:03] JohJakob commented on #58
@Correct-Syntax I mean that having the image data hard-coded in the source code adds the vulnerability of modifying the data by accident (not really an issue, but still not “best practice” in my opinion) and it doesn’t automatically update when asset files are changed.

I understand! I have only worked with file-based assets so far (in other languages and frameworks though) and loading time was ne

[2021-09-07 21:05] Correct-Syntax commented on #58
Okay, now I understand a bit better. I agree. It would be nice if they automatically updated when the icon files were updated.

I guess I am (somewhat) assuming that it will add overhead just based on the fact that there would be more involved to generate the icons on runtime. Though, in reality it may not make much of a difference.

Yes, good point. I would use that then.

If you are willing, you

[2021-09-10 03:10] Correct-Syntax opened #67 "Create Node API Standards and refactor existing nodes to follow them"
There should be consistent standards in place for scripting nodes with the API and the standard should be followed by both core and custom nodes.

**What's involved:**

- [x] Take a look at the nodes in ``gimelstudio/corenodes`` and see how we can make a consistent, working standard for variable names, how the code should be written, etc (because many of the nodes have the same basic code)
- [ ] W

[2021-09-10 05:44] iwoithe commented on #67
Like mentioned in PR #66, my suggestion is to use ``input_image`` and ``output_image``.

[2021-09-15 04:13] #63 closed

[2021-09-27 14:28] Correct-Syntax commented on #62
@JohJakob, we will use this list for contributors in the About Dialog.

[2021-10-04 20:53] Correct-Syntax commented on #67
This is my WIP draft of what I am thinking so far:

GLSL Standards
-----------------

- All variables should be snake case and lowercase (e.g: ``my_value``)
- The original incoming image variable names should be ``input_image1`` and ``input_image2``
- The ``texelFetch`` image variables should be called ``color1`` and ``color2``
- The outgoing image variable name should be ``output_img``

Node API

[2021-10-05 22:59] Correct-Syntax opened #68 "Add scrollbar to Node Properties panel"
Requires the scrollbar PR to be merged into gswidgetkit.

[2021-10-05 23:03] Correct-Syntax commented on #65
Perhaps *All* the nodes (excluding the output node) should be placed in the ``nodescripts`` directory.

[2021-10-05 23:11] Correct-Syntax opened #69 "Add tooltip and link to manual/docs for each node"
Add a tooltip with the short node description and implement the button to link to manual/docs online for each node in Node Properties panel.

![2021-10-05_18-04](https://user-images.githubusercontent.com/60711001/136114624-0645cf9a-c77e-4ad6-a44f-2a6988048497.png)

Should use the tooltip widget from gswidgetkit.

- [ ] Add tooltip with short node description
- [ ] Implement the button to link

[2021-10-06 05:03] iwoithe commented on #34
Closing as the PR was merged

[2021-10-06 05:38] iwoithe opened #70 "Create a pull request template"
The template doesn't have to be detailed, but something like the following.

[code]

[2021-10-06 13:15] jmherbst commented on #70
I'd be happy to take this on!

[2021-10-06 14:24] #70 closed

[2021-10-06 15:24] Correct-Syntax opened #72 "Fit image to Image Viewport size setting"
Currently, the image zoom is static so if the image gets smaller or larger as you are editing you have to manually zoom it to fit the Viewport.

This issue should add a setting (checkbox) where users can turn on "Fit Image to Viewport", which will automatically always keep the Viewport zoom to where the image fits inside of the viewable area.

[2021-10-06 15:31] Correct-Syntax opened #73 "Node API: Move corenodes to nodescripts directory"
Move the nodes from ``corenodes`` to the ``nodescripts`` directory.

[2021-10-07 01:46] #2 closed

[2021-10-08 14:42] #73 closed, assigned to Correct-Syntax

[2021-10-08 15:00] Correct-Syntax opened #79 "Add ability to mute nodes via UI and Node API"
Add ability to mute nodes. In the core this means adding a "bypass" method so that the input image is just passed along to the next node. This is also useful so that node authors can specify that if certain values are reached (e.g: 0 or 100) that the node is "unused" and thus use the bypass to avoid extra (needless) rendering.

- [x] UI
- [x] Backend

[2021-10-08 15:39] Correct-Syntax opened #80 "Set GLSL engine texture dimensions based on the image"
Set GLSL render engine texture dimensions based on the image. Currently, they are set at ``4000x4000``.

cc @iwoithe you were right -we do need to dynamically set this otherwise larger images don't render. 😄

[2021-10-10 05:03] Correct-Syntax opened #81 "Node groups/Layer nodes"
Implement functionality where node graphs can "live" within the main node graph as a single node. This is similar to Blender's node group.

[2021-10-10 06:13] iwoithe opened #82 "Create a export dialog"
### Description

There is no dialog for exporting yet. Currently, a user just selects the output file and Gimel Studio exports the image to that file. The dialog will make exporting more user friendly as well as add the ability to have more than one output node

### Tasks

- [ ] Wireframe
- [ ] Mockup
- [ ] Coding

### Related issues

- https://github.com/GimelStudio/GimelStudio/issues/46
- https:

[2021-10-10 15:04] Correct-Syntax opened #83 "Add support for different input/output datatypes"
Currently, only the RenderImage datatype is accepted as inputs/outputs. This issue should add support for other datatypes such as vector, integer, etc.

This requires adding ability to color input and output sockets, etc in gswidgetkit.

Also requires adding socket/parameter ids in gsnodegraph.

[2021-10-10 15:52] #44 closed

[2021-10-20 07:49] yashpalgoyal1304 opened #86 "Why a new repo?"
hi, i cant understand why the devt of new version is split and which version should i download.
use case: for now, i will not be using it for any projects, i'll just use it for one time image editing tasks like cropping, blur etc, export the image and that's it. that is, dont need the editing history/source/project file later.

when the main devs fork repo, my idea is that there had to have some d

[2021-10-20 07:56] yashpalgoyal1304 commented on #86
oh, ohkay, the new versions doesnt have a package release and n/a (not available) for download.

[2021-10-29 22:23] Correct-Syntax opened #87 "Add support for node graph code export"
Add the ability to export the connected node graph as a Python script of image processing code.

This would involve:

* Implementing a way to read the ``NodeEvaluation()`` function (and creating variables for each of the node properties)

* Adding a UI to export the code

One potential problem in the implementation is that various libraries are used for image manipulation.

This would add support

[2021-11-01 02:10] #83 closed

[2021-11-01 02:14] #59 closed

[2021-11-03 15:51] Correct-Syntax commented on #80
Idea: Make this a setting where the user can change the glsl max texture size.

[2021-11-08 16:05] Correct-Syntax opened #88 "Add reset settings to default functionality"
Create a button (inside a hamburger menu) that resets the settings to default (factory reset).

[2021-11-08 16:07] Correct-Syntax opened #89 "Implement settings overwrite"
Implement a way for settings that are added in a later version of Gimel Studio to write to the preferences config.json file.  Currently, you must delete the old one in order for the new settings to appear.

[2021-11-09 03:20] #24 closed

[2021-11-09 03:23] #13 closed

[2021-11-09 03:47] Correct-Syntax opened #90 "HiDPI / display scaling causes issues with text and icons"
![Annotation 2021-11-09 090525_LI](https://user-images.githubusercontent.com/60711001/140858135-f7147d2d-af68-41df-9f0a-bcc5b9a13b06.jpg)

Testing on another laptop with different scaling settings with a HiDPI display, it appears Windows also has issues when it comes to text and icons. Interestingly, testing on an external 1920x1080 monitor (non-HiDPI) has the same issue as shown above except it i

[2021-11-11 00:17] Correct-Syntax commented on #55
It seems that the upstream new features regarding dpi and bitmaps in wxwidgets will help us out https://www.wxwidgets.org/news/2021/10/roundup-of-the-recent-changes/ 🎉

[2021-11-12 04:26] Correct-Syntax opened #91 "Implement copy image to clipboard"
Implement the functionality to copy the currently rendered image to the system clipboard and hook it to the existing menu item.

[2021-11-14 04:29] Correct-Syntax opened #92 "Implement node (x y z) property"
Implement a node property as defining a value of (x, y, z).

This is similar to #93

[2021-11-14 04:31] Correct-Syntax opened #93 "Implement node color property"
Implement a color property for defining a color. Should use the color picker widget from gswidgetkit.

[2021-11-14 08:05] yonMaor commented on #93
Hey,
I'd like to help with this issue.
Can you eleborate further?

[2021-11-14 12:05] benn1S commented on #91
Hey there!

I'd like to take up and work on this issue/feature with a fellow Student of mine over the next few weeks as part of an assignment in a software engineering course. New to Open Source, but bring some familiarity with Python and are happy to learn!

[2021-11-14 14:47] Correct-Syntax opened #94 "Write an introduction and overview of the code for new contributors"

[2021-11-14 15:19] Correct-Syntax commented on #93
Hi @yonMaor thanks for helping with this issue. Glad to have you here. 😄

Every node in Gimel Studio (minus the Output node) is written in a python script in the ``nodescripts`` directory. They are like "plugins" or "addons" which use what is called the Python API. The API is basically just a way for these individual node scripts to hook into the renderer and Properties Panel.

A node Property is

[2021-11-14 17:03] yonMaor commented on #93
Not gonna lie, after a first look this looks a little complicated, but I'll give it a shot over the next few days.
Thanks for the detailed explanation!

[2021-11-14 18:16] yonMaor commented on #93
So after taking another look I'm wondering what functionality this widget needs exactly.
I'm also not sure how to interface with [gswidgetkit](https://github.com/GimelStudio/gswidgetkit) (I tried installing it as detailed in the repository, but I seem to already have it installed through Gimel Studios itself)

[2021-11-14 18:47] Correct-Syntax commented on #93
@yonMaor yes, gswidgetkit is the set of widgets we are using and the package is installed along with Gimel Studio.

The widgets can be imported just like any class.

Basically, it is a matter of importing the color picker widget, placing it in the CreateUI method and getting the value from the widget.

I think I'll do a write up to show you. 🙂

[2021-11-14 18:57] Correct-Syntax commented on #93
So, here is a quick untested and unfinished glance at what it would look like:

[code]

Then, you would add this class to the imports in the ``__init__.py`` and ``api/_init__.py``files to make it accessible from the API.

I now realize that the extra params in the ``PositiveIntegerProp`` may have made this look more complex, but basically just fill in what needs to be done described in the comment

[2021-11-14 19:01] yonMaor commented on #93
I was just starting to figure it out, but thanks for the help!
Do no other files need to be changed? I've seen some additional files in the nodescripts directory that use the PositiveInteger property, so I was wondering if we need similar files for the color property

[2021-11-14 19:23] Correct-Syntax commented on #93
The files in the nodescripts directory are the nodes themselves. So, yes and no. 🙂 You don't have to for this issue, but it would be nice to create a "test case" node that uses the colorprop

[2021-11-15 18:21] Correct-Syntax opened #95 "Node thumbnail for Output node"
Implement the node thumbnail for the Output node. Basically, just take the final rendered image and set it as the Output node thumbnail.

[2021-11-15 18:28] Correct-Syntax opened #96 "Implement New UI Colors"
Implement the new UI color scheme (which is more consistent) into the actual UI.

- [x] gsnodegraph
- [x] gswidgetkit
- [x] Main UI

[2021-11-18 14:30] Correct-Syntax opened #97 "Update severely outdated README"
The current README is quite outdated now. Need to find time to update it, but only after completing the transition to the new UI colors #96

[2021-11-18 18:19] Correct-Syntax opened #98 "Ctrl + Click to set node connected to Output"
Re-implement the handy feature (from the v0.5.x series) where Ctrl+Clicking a node would make it the connected node to the output node. Useful for quick previewing, etc

[2021-11-21 15:14] #91 closed

[2021-11-21 15:30] benn1S opened #100 "Allow copying rendered image to clipboard via context menu within image viewport panel"
Being able to copy a rendered image by the natural process of rightlick -> copy image would be a minor yet great improvement to the UI.

[2021-11-21 15:59] Correct-Syntax opened #101 "Rework statusbar"
Currently, the statusbar is based on the native statusbar and some fancy layout code. This results in an okay, but sorta slow statusbar update. Rework the statusbar to be a fully custom widget which should make it faster and easier to customize looks, etc.

[2021-11-21 21:11] iwoithe opened #102 "Use Label instead of wx.StaticText in the Preferences Dialog"
Use the ``Label`` class in gswidgetkit instead of ``wx.StaticText`` in the preferences dialog

e.g. [here](https://github.com/GimelStudio/GimelStudio/blob/a94c9dbaf6d815d4a226f2648caac8084e1f18aa/src/gimelstudio/interface/preferences_dlg.py#L114-L115)

[2021-11-22 06:20] #102 closed

[2021-11-22 20:46] #96 closed

[2021-11-22 21:03] Correct-Syntax opened #104 "Fix Textctrl bugs"
It currently has issues with focus/de-focus, among other things.

[2021-11-23 15:17] Correct-Syntax opened #105 "Output Node: Add export option to property panel"
When the Output node is clicked, show an export image button in the property panel. This is an alias to ``File > Export Image As...``

[2021-11-23 15:25] #95 closed

[2021-11-24 00:15] #92 closed

[2021-11-24 00:58] Correct-Syntax commented on #93
@yonMaor the [checkerboard image](https://github.com/GimelStudio/GimelStudio/blob/master/src/nodescripts/corenodes/input/checkered_image_node.py) node would be a good test case if your interested in doing that. 😄

[2021-11-24 17:06] yonMaor commented on #93
Thanks, I'll check it out.
Sorry that this issue has been taking a while, I've been busy at work.
I'll probably get to it this weekend

[2021-11-25 16:21] #97 closed

[2021-11-25 16:22] #86 closed

[2021-11-28 03:37] Correct-Syntax opened #109 "Change prop label param"
Change the Property ``label`` param to be ``fpb_label`` so that ``label`` can be reserved for other things.

[2021-11-28 03:46] #105 closed

[2021-11-28 16:12] Carlosbogo commented on #109
Hi, I would like to work on this, but this is the first time I contribute to this repository.
Is the objective just to change the name of the property `label` to `fpb_label` wherever it appears? Could you give me an example on where it should be changed?

[2021-11-28 17:56] Correct-Syntax commented on #109
Hi, thanks for your interest in contributing. 🙂

Yes, basically just change the ``label`` param wherever it appears in https://github.com/GimelStudio/GimelStudio/blob/master/src/gimelstudio/core/node/property.py to ``fpb_label``. This includes the base Property class.

[2021-11-28 18:07] Correct-Syntax opened #112 "Edit Blur Node Props for Kernel X and Y"
The Blur node currently uses the ``PositiveIntegerProp`` for Kernel X and Y. Since we now have the ``XYZProp``, that should be used instead.

[2021-11-28 18:20] Correct-Syntax opened #113 "Implement Auto Render setting"
The Auto Render setting controls whether the image will automatically re-render after node connections are edited, etc.

This issue should:

- [ ] Add the necessary code (mainly ``if`` statements) to implement the ability to toggle Auto Render
- [ ] Attach it to the existing menu item
- [ ] Attach it to the Preference dialog setting

[2021-11-28 20:56] Correct-Syntax commented on #109
I should also note that the references to ``label`` in src/nodes will also need to be changed.

[2021-11-29 07:33] ShubhamNagure commented on #113
i'd like to work on it

[2021-11-29 22:25] #37 closed

[2021-12-02 04:21] MostHated opened #118 "Wanted to share a tip for Linux and OpenImageIO installation"
Hey there,
    I just wanted to share with folks who might be having an issue getting OpenImageIO built / installed on linux. If you simply install the Linux version of Homebrew (Linuxbrew), you can install OIIO using brew. It takes a bit (took about 10 minutes) but it will get the job done. :+1:

![](https://i.imgur.com/5veZ40D.png)

Thanks,
-MH

[2021-12-02 04:54] Correct-Syntax commented on #118
@MostHated Thanks for the suggestion. 👍 We will look into that.

The difficult part is that we need OpenImageIO built for Python with the extensions for EXR, RAW files and OpenColorIO support.

Do you know offhand if installing via linuxbrew meets those requirements?

[2021-12-02 05:01] MostHated commented on #118
Shoot, well, I know I saw EXR in the long list of things during install, but I don't know if it was a dependency of something else. Is there a way I can check now that I have it installed?

[2021-12-02 05:07] Correct-Syntax commented on #118
Basically, the first thing to check is if it is built with Python support, which you can do quite easily by creating a .py file with ``import OpenImageIO`` in it and running it (assuming you have Python installed, of course).

The way to test for EXR support would be to run something like:

[code]

[2021-12-02 05:12] MostHated commented on #118
I was taking a look at what it included(openimageio's install guide is what gave me the idea to try it in the first place) :

https://formulae.brew.sh/formula/openimageio

I will give what you mentioned a try as well.

[2021-12-02 05:36] MostHated commented on #118
This is promising, its only telling me it can't find the image. I will try to find one.

![](https://i.imgur.com/niUmKKL.png)

[2021-12-02 05:41] MostHated commented on #118
Looks like it worked. I grabbed a test image from oiio's repo.

![](https://i.imgur.com/JQ4EfdC.png)

[2021-12-02 05:50] Correct-Syntax commented on #118
Okay, that is a good sign. Thanks for testing this. 😄

Could you summarize what you did to get it to work so we can test it on our end?

[2021-12-02 06:09] MostHated commented on #118
Sure thing. This is assuming you already have linux brew installed, as I installed it a long time ago and can't exactly remember if there was anything special about doing so.

[code]

[code]
That was honestly all it took.

This should work as well to make it available to a project.
I am not a python expert, though, by any means, but doing this below allowed me to run the same script you shared in

[2021-12-02 06:19] MostHated commented on #118
Nice, it builds and works, too. :+1:  :+1:

![](https://i.imgur.com/84zzpRT.png)

[2021-12-02 17:15] Correct-Syntax commented on #118
Thanks for doing this. I am going to work on getting a CI going via Github Actions to automate building the executables soon. I will let you know if I need any further information. 😄

Also, if your willing, you could add the commands you used to install everything and build the executable in the ``build.py`` script (it seems similar to the macOs procedure in that script).

[2021-12-02 19:29] MostHated commented on #118
Yeah, sure thing, would be glad to :+1: .

[2021-12-03 15:00] Correct-Syntax opened #119 "Fix wrong placement of Foldpanelbar Arrow icons"
In the Properties panel, the Foldpanelbar arrow icons positioning get messed up somehow. This is especially bad on Linux where they look very non-center.

This is likely an upstream issue with [gswidgetkit](https://github.com/GimelStudio/gswidgetkit).

[2021-12-03 17:26] MostHated commented on #118
Still working on this, ran into some issues due to pyenv, but I have it nearly worked out.

[2021-12-04 00:39] MostHated commented on #118
Looks like I got the issue worked out. Turns out that the binary file just really really doesn't like to be started while your current directory is elsewhere. I kept building and testing with:
[code]
It just wasn't having it. But as soon as I did:

[code]
Worked great. I had been fighting with trying to figure out why it was "failing" to build properly, turns out I was just failing to run it right

[2021-12-04 02:38] iwoithe commented on #118
To be honest, it makes sense. The Gimel Studio source code makes use of relative paths. This is why I changed the readme instructions in [this](https://github.com/GimelStudio/GimelStudio/commit/a0a14bdda6c396bc70a4e37cbb741e8a6932cb57) commit.

[2021-12-04 06:32] MostHated commented on #118
So, something I came across that I have been trying to look into is, everything builds solid and works well, but only when not using the --onefile flag. Without it, and dropping the nodes folder into `GimelStudio/dist/GimelStudio/nodes` it fires up great, you get the console messages:

[code]

But when building with --onefile, I get the following when trying to launch the application:

[code]

I w

[2021-12-05 00:11] Correct-Syntax commented on #118
@MostHated thanks for your perseverance with this. 🙂

Yes I think there is a bug with using the --onefile flag. But, I don't think we need to use that anyway. Not only is there a performance decrease vs the normal build but as you pointed out, the nodes aren't found.

So, if everything else is working with the normal build, feel free to open a PR and we will go from there.

[2021-12-05 00:14] Correct-Syntax commented on #113
@ShubhamNagure thanks for working on this. 👍

Did you have any questions about getting started with this issue?

[2021-12-05 00:15] MostHated commented on #118
Ok, good deal. I wanted to make sure that was ok first before submitting. I am just doing one final test on my laptop, as I never installed brew or pyenv, etc on it, so its more of a fresh/typical test.

[2021-12-05 00:43] Correct-Syntax commented on #118
Okay, sounds great. 👍

Kind of a side question: what's the inspiration for your username? I really hope people don't hate you. 😟

[2021-12-05 03:47] MostHated commented on #118
Lol, na, quite the opposite, usually. The name was from back when I used to play a lot of PVP in WoW.

I apologize that it's taking a bit longer than expected. I like to be as thorough as I can, though.

The script ensures you are running the correct version of python, then makes sure build-essentials, libgtk3, and GCC are installed (I figured it was a good idea, since my laptop was missing some o

[2021-12-06 04:13] Correct-Syntax opened #120 "GLSL based nodes produce corrupted image data when connected together"
It appears that there is a conversion issue with the GLSL based nodes. If multiple GLSL based nodes are connected together, it will sometimes produce a corrupted image. This likely has to do with the conversion between OIIO and numpy and/or the conversion between the moderngl buffer and numpy.

![image](https://user-images.githubusercontent.com/60711001/144934459-0f684d09-aa7b-4a48-9f05-5319c91b0c

[2021-12-06 04:48] MostHated commented on #118
Ok, finally got things worked out. https://github.com/GimelStudio/GimelStudio/pull/121

When I was running things on my desktop, I already had a large number of the dependencies installed, so some of them were not taken into account until I got on my laptop, so I started with a fresh VM and made sure everything worked out of the box on it, starting with the default python3 install it had. (using P

[2021-12-06 15:24] Correct-Syntax commented on #118
Thanks for your work on this. I think we can now say that we officially have Linux support and it brings us closer to closing that long-standing blocker issue! 🎉

[2021-12-06 15:24] #118 closed

[2021-12-06 22:45] Correct-Syntax commented on #79
Thanks for your work @hudakjakub This is a good initial implementation. 👍

[2021-12-06 22:45] #79 closed

[2021-12-07 01:15] #109 closed

[2021-12-07 01:34] instance-id opened #124 "Running in a fresh VM, GimelStudio was able to create it's config folder, but not the config file."
**Describe the bug**
When I was doing testing in the fresh VM, after building and attempting to run the application for the first time, it seems it was able to create ~/.gimelstudio/ but it was not able to create the config file itself.

<details>
<summary>Terminal output</summary>

[code]
</details>

I tried it a second time, starting it directly instead of letting the build script start it, just

[2021-12-07 01:38] Correct-Syntax commented on #124
@instance-id thanks for reporting this. 👍

I had noticed a similar issue before and notified @iwoithe who is kindly working on this. @iwoithe you definately have confirmation on this one. 😄

[2021-12-07 06:15] iwoithe commented on #124
@instance-id Thanks for the in-depth bug report. It is much appreciated. :slightly_smiling_face:

[2021-12-07 06:35] iwoithe commented on #124
Slight problem: I can't actually recreate this on Windows 10. When I run ``python main.py``, it creates both the ``.gimelstudio`` directory and the config file.

**Steps to reproduce**
1. Manually delete the ``~/.gimelstudio`` directory
2. Open a terminal and navigate to the ``src`` directory of Gimel Studio
3. Run ``python main.py``

I will also mention that the preferences dialog works how it's

[2021-12-07 21:00] Correct-Syntax commented on #124
@iwoithe I just reproduced it by doing the following:

1. Manually delete the ``~/.gimelstudio`` directory
2. Run the .exe file (you can use the one in the Github releases)
3. The ``.gimelstudio`` folder is created but the config file is not (and Gimel Studio doesn't start).

Since the difference is that I ran it via the .exe, it seems there is something awry with it when it is bundled.

Is it pos

[2021-12-08 04:01] iwoithe commented on #124
Closing this issue as https://github.com/GimelStudio/GimelStudio/commit/4df21ad9f7eefc2a76bf8dd770dd86b479e0afbd fixes it

[2021-12-08 04:01] #124 closed

[2021-12-08 06:00] instance-id commented on #124
That's great news that it's figured out. The only thing, though, is that portion of the build script would only deal with Windows. This particular issue I opened was technically for Linux, I didn't have a Windows machine at the time (I have one setup now). I can certainly try out the change you made, though, and update it accordingly if the end result is the same. :+1:

[2021-12-08 07:15] iwoithe commented on #124
I tested this successfully on Windows 10. :slightly_smiling_face:

[2021-12-08 14:41] Correct-Syntax commented on #124
Maybe a more portable solution would be to add the default_json contents to a .py file so that it is bundled with the application rather than a separate .json file.

[2021-12-08 18:46] Correct-Syntax opened #125 "Don't allow muting Input nodes"
When an Input node is clicked, don't show the option in the context menu to mute the node as muting will not work for those nodes. This will have to be changed in the gsnodegraph context menu code.

[2021-12-10 15:11] Correct-Syntax commented on #98
Implemented in gsnodegraph v0.4.0

[2021-12-10 15:11] #98 closed

[2021-12-12 19:58] Correct-Syntax commented on #45
Closing this as I am not sure this is really necessary.

[2021-12-12 19:58] #45 closed

[2021-12-22 20:01] Correct-Syntax commented on #18
The initial implementation is now complete.

[2021-12-22 20:01] #18 closed

[2021-12-23 00:12] Correct-Syntax commented on #20
The initial implementation is now done. Thanks again @JohJakob for your input. 😄

[2021-12-23 00:12] #20 closed

[2021-12-23 00:26] #112 closed

[2021-12-23 21:47] Correct-Syntax commented on #3
Closing this for now. It may be better to just have a hot-reloading plugin for an external editor (e.g VSCode, etc)

[2021-12-23 21:47] #3 closed

[2021-12-24 00:14] Correct-Syntax opened #126 "Add spacing between menu items"
Add more vertical spacing between menu items as they are currently a bit cluttered with so little space.

Requires digging into the menubar artprovider and changing the vertical spacing.

[2021-12-24 06:16] #126 closed

[2021-12-31 00:13] Correct-Syntax commented on #93
Hi @yonMaor 🙂

Do you have a timeframe of when you might be able to finish this?

We appreciate your work so far. 👍

[2022-01-10 02:48] #120 closed

[2022-01-10 11:34] yonMaor commented on #93
Hey, sorry I didn't get to this, I've been a little busy at work lately.
I'll try to get to it this weekend, but if solving this issue is currently impeding  progress feel free to assign it to someone else

[2022-01-12 00:10] iwoithe commented on #60
![image](https://user-images.githubusercontent.com/73422868/149040998-b2cb535d-641c-4b9a-b4d6-e3269485ecb3.png)

What confuses me is that the translations are updated. Not sure what's causing the dialog.

[2022-01-13 21:05] Correct-Syntax opened #134 "Create new website"
The current landing page design was created for the releases up until v0.5.x was phased out and it shows. This issue tracks creating a new design and website to reflect the now realized v0.6.x series and on-wards.

It should include a Blog, a newsletter signup, a contributor page/section, etc in addition to the usual stuff every software website should have. 😉

[2022-01-13 21:09] Correct-Syntax commented on #134
In case anyone is interested in collaborating, I have begun on an initial mockup for the website design. Please leave a comment here and/or in our website [Discord channel](https://discord.com/channels/790587396835508265/832033399093985301) to help out.

[2022-01-15 07:47] yonMaor commented on #93
Hey @Correct-Syntax,
I think that I've written most of the code for this issue.
Do you have any suggestions for testing it?
Is there some framework that you've been using for the project?

[2022-01-16 14:50] Correct-Syntax commented on #93
Hi @yonMaor, we haven't really used any framework for testing. We primarily do real-life testing with the application itself.

Probably the best way to test the ``ColorProp`` is to use it in a node. Unfortunately, the checkerboard image node I mentioned previously is no longer working (since I merged some breaking changes).

So, I created the Color Image node (which is currently hard-coded to be w

[2022-01-16 15:01] Correct-Syntax commented on #19
It appears that this is not an issue with the latest snapshot build of wxPython, but I'll keep an eye on this.

[2022-01-16 15:35] #32 closed

[2022-01-16 16:22] Correct-Syntax opened #135 "Muting node should invalidate upstream caches"
Currently, muting a node downstream isn't quite working because the upstream nodes still use the same cached image. This issue should invalidate (delete) the cache of upstream nodes when a node is muted.

![image](https://user-images.githubusercontent.com/60711001/149668377-cd0c42a1-cce3-4ac1-a825-81db0c0e7e46.png)

[2022-01-17 06:34] yonMaor commented on #93
Seems to be working fine :)
I'll push the code. Let me know if you have any comments

[2022-01-18 14:53] Correct-Syntax commented on #29
It seems to work for me. Previously, if your user Regional Format was set to something other than English United States in Windows 10 settings, Gimel Studio would either not start or show an error. At least two people have reported this issue so I hope it is resolved. If it isn't, I guess we'll re-open.

[2022-01-18 14:53] #29 closed

[2022-01-18 17:10] #93 closed

[2022-01-21 05:56] Correct-Syntax opened #137 "Fix glitching on Properties Panel update"
Currently, the Properties Panel has a noticeable lag in refreshing/updating. This issue should optimize the panel so that only the necessary widgets are destroyed and re-created, or find another solution for updating altogether.

[2022-01-30 02:43] #7 closed

[2022-01-30 02:47] #19 closed

[2022-01-30 02:54] Correct-Syntax opened #138 "Create GA script for building releases"
We need a Github Actions script to automate building executables for each platform

- [ ] Windows
- [ ] Linux
- [ ] MacOs

You can adapt it from the previous script at: https://github.com/GimelStudio/Gimel-Studio/blob/master/.github/workflows/build.yml

[2022-01-30 02:54] #34 closed

[2022-01-30 02:58] #69 closed

[2022-01-31 04:45] Correct-Syntax opened #140 "Add cleaner way of adding Properties in API"
The current way of adding properties is repetitive and a bit messy for more than a few properties. Implement a better, all-in-one ``AddProperty`` method to make adding new properties easier and cleaner.

Example pseudo-code snippets:
[code]

[code]
(where ... represents the default parameters like idname, default etc.)

[2022-01-31 04:51] Correct-Syntax opened #141 "Add check to prevent nodes from connecting to nodes in their own upstream"
Implement  a check that prevents nodes from connecting to nodes that are in their own upstream, so that tangled messes are not allowed:

Pseudo-code:
[code]

[2022-01-31 07:59] Nightfurex commented on #140
Hey, if you don't mind can you further elaborate on what do mean by "adding Properties to API".

[2022-01-31 17:43] Correct-Syntax commented on #140
@Nightfurex sorry, I meant adding Properties *in* the API. (Nodes are created via what we call the API)

Currently, Node Properties are added like so in the node API (the example below is from [here](https://github.com/GimelStudio/GimelStudio/blob/a3c061c81869ff41b0ff2998c2251e0843673eb1/src/nodes/corenodes/filter/blur_node.py#L36)):
[code]

This gets a bit repetitive so we thought a cleaner way t

[2022-01-31 19:12] Correct-Syntax opened #142 "Implement Color Balance node"
Implement a core node, the Color Balance node using either glsl or numpy/opencv. It should take in an image and output an image. Probably similar to the Color Balance node in Blender/Da-vinci resolve.

It may be a good idea to implement this as a glsl shader node for speed.

Category: ADJUST

[2022-01-31 19:14] Correct-Syntax opened #143 "Implement Sharpen node"
Implement a core node, the Sharpen node using either glsl or numpy/opencv. It should take in an image and output an image. Probably similar to the node in Blender.

It may be a good idea to implement this as a glsl shader node for speed.

Category: ADJUST

[2022-01-31 19:15] Correct-Syntax opened #144 "Implement Pixelate node"
Implement a core node, the Pixelate node. It should take in an image and output an image.

It may be a good idea to implement this as a glsl shader node for speed.

[2022-01-31 19:18] Correct-Syntax opened #145 "Implement Edge Detect node"
Implement a core node, the Edge Detect node using either glsl or numpy/opencv. It should take in an image and output an image.

It may be a good idea to implement this as a glsl shader node for speed.

Category: FILTER

[2022-01-31 19:20] Correct-Syntax opened #146 "Implement Crop node"
Implement a core node, the Crop node using either glsl or numpy/opencv. It should take in an image and output an image.

It may be a good idea to implement this as a glsl shader node for speed.

[2022-01-31 19:27] Correct-Syntax opened #147 "Implement Halftone node"
Implement a core node, the Halftone node using either glsl or numpy/opencv. It should take in an image and output an image.

It may be a good idea to implement this as a glsl shader node for speed.

Category: FILTER

[2022-01-31 19:39] Correct-Syntax opened #148 "Data previews for input nodes"
Currently, for input nodes like Integer, Vector, Color, etc the only way to see the current value is to click on the node and look in the properties panel. We should devise a way to show "data previews" of each value on the node itself.

Maybe it could be like the image thumbnails, but for other values (e.g: for a color node, it would show a color swatch on the node)

[2022-01-31 19:41] Correct-Syntax opened #149 "Add toggle button to property foldpanelbar for exposing properties on nodes"
The backend for allowing properties to be exposed on node as node sockets is about complete. Now we need to add a toggle button to Properties panel foldpanelbars for exposing properties on nodes.

Suggestions on the icon to use, where the button should be placed, etc is very welcome. 😄

[2022-01-31 19:49] Correct-Syntax opened #150 "Fix broken Project File I/O"
Fix the Project I/O to be compatible with the now merged muti-outputs update. This should be straightforward as the only differences are that only Properties exists (and handle both the node binding and value) rather than the previous Parameters and Properties setup, and maybe a few other minor details.

[2022-01-31 20:19] Correct-Syntax opened #151 "Add node reload"
Currently, you have to restart Gimel Studio every time you make a change to a node. Add the ability to reload and refresh the nodes in Gimel Studio without restarting. Take a look at the ``src/GimelStudio/node_importer`` for an idea how they are loaded in on application start.

[2022-02-01 07:52] abhirajthakur commented on #151
Hey, I am new to open source.
I have basic knowledge of python, can I also contribute to it ?

[2022-02-01 07:55] yonMaor commented on #145
I think I may be able to help with this one.
Any other relevant details I should know?

[2022-02-01 10:45] iwoithe commented on #145
Thank you. This is a big help to @Correct-Syntax and I. :slightly_smiling_face:

- As @Correct-Syntax said, try implementing it in GLSL
- Take a look at the existing nodes for some examples of the API (found in the ``src/nodes/corenodes`` directory)
- A good example of a GLSL node is the [opacity node](https://github.com/GimelStudio/GimelStudio/tree/master/src/nodes/corenodes/filter/opacity_node)

[2022-02-01 20:56] Correct-Syntax commented on #151
Hi, sure you can if you'd like. Feel free to ask if you have any questions. :)

    On Tuesday, February 1, 2022, 01:53:10 AM CST, Abhiraj Thakur ***@***.***> wrote:

Hey, I am new to open source.
I have basic knowledge of python, can I also contribute to it ?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@

[2022-02-03 17:59] Correct-Syntax opened #152 "Vector Canvas-based Editing + Gizmos"
**Vector Canvas and Gizmos Proposal:**

This is basically what I have in mind for the canvas-based editing, combining vector and raster with raster images being as "objects" on the canvas. On export, the canvas could be exported to different filetypes: png, jpeg, svg etc.
You can think of this like editing the raster image in a vector environment.  The focus here is *not* on providing resolution a

[2022-02-14 18:37] #142 closed

[2022-02-14 19:10] #137 closed

[2022-02-14 21:16] Correct-Syntax opened #154 "Move to OpenCV for file I/O"
Currently, we do not have pre-built python wheels for OpenImageIO. OpenImageIO is only used for image I/O so it is not necessarily a hard dependency. OpenCV doesn't provide all of the same support for the formats OIIO does, but that is the tradeoff. :/

This issue should implement cv2 (which is already a dependency) as a fallback for image Input and output when OIIO is not installed. It should als

[2022-04-25 20:53] Correct-Syntax commented on #125
Fixed with https://github.com/GimelStudio/gsnodegraph/commit/eacf5fb91c0bc7c7d5ece9d5fb666a02190160ca

[2022-04-25 20:53] #125 closed

[2022-07-18 15:11] #152 closed